<script>
	import Rick, {play} from './Rick.svelte';
	import Greeting from './Greeting.svelte';
	let active_component = Greeting;
	function handleClick(event) {
		active_component = Rick;
		play();
	}
</script>

<main>
	<div class="window" style="margin: 32px; width: 680px">
		<div class="title-bar">
			<div class="title-bar-text">GUI Interface (Powered by Visual BASIC)</div>
			<div class="title-bar-controls">
				<button aria-label="Minimize"></button>
				<button aria-label="Maximize"></button>
				<button aria-label="Close"></button>
			</div>
		</div>
		<div class="window-body">
			<svelte:component this={active_component}/>
			<section class="field-row" style="justify-content: flex-end">
				<button on:click={handleClick}>OK</button>
			</section>
		</div>
	</div>
</main>

<svelte:head>
	<link rel="stylesheet" href="https://unpkg.com/98.css@0.1.4/build/98.css" />
</svelte:head>